:root {
  --primary: #3c4bbe;
  --primary-dark: hsl(233, 52%, 40%);
  --secondary: #fac30a;
  --text: #3a4563;
  --black: #070500;
  --bg-gray: #eff4fa;
}
@font-face {
  font-family: stinger700;
  src: url(fonts/StingerWideTrial-Bold.ttf);
}

h1,
h2,
h3 {
  font-family: stinger700;
  color: var(--black);
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text);
  background-color: var(--bg-gray);
}

/* Hamburger button styling */
.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

/* By default, links will be displayed */
nav > div {
  display: flex;
}

/* Hamburger icon will be hidden on large screens */
#menuToggle {
  display: none;
}

.custom-container {
  padding-left: 104px;
  padding-right: 104px;
}

.img-wrapper {
  width: 260px;
}
.img-wrapper img {
  width: 100%;
}
.custom-underline {
  display: inline-block;
  line-height: 0.65;
}
.dark-underline {
  border-bottom: 10px solid var(--primary);
}
.light-underline {
  border-bottom: 10px solid var(--secondary);
}

.slanted-div {
  position: relative;
  padding: 0;
  background: var(--primary);
  overflow: visible;
  z-index: 1;
}
/* where the magic happens */
.slanted-div:before,
.slanted-div:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: right top;
  transform: skewY(3deg);
}
.card-container {

  row-gap: 2em;
  gap: 1rem;
}

.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

/*@media (min-width: 768px) {

.start-main{
  min-height: 75vh;
  align-items: center;
}}*/

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: white;
  border-radius: 32px;
  width: 100%;
}

.reach-us-section .card{
  padding: 1rem;
}


/* only for mobile*/
@media screen and (max-width: 768px) {
  *{

  }
}


.reach-us-section .card{
  padding: 1rem;
}

.reach-us-section .card.form-card{
  padding: 2rem;
}

.reach-us-section .card span{
  display: block;
}

.reach-us-section .card iframe{
  border-radius: 1rem;
}

.chip {
  background: var(--primary);
  font-weight: 700;
  display: inline-flex;
  gap: 10px;
  padding: 4px 12px;
  color: white;
  width: max-content;
  border-radius: 24px;
  font-size: 1rem;
}

.accordion .accordion-item {
  background: #fff;
  border-radius: 16px;
  transition-duration: .2s;
}
.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid var(--primary);
  transition: ease-in-out;

}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1.5em 3em 1.5em 1em;
  color: var(--black);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  font-weight: 700;
  outline: none;
  transition: ease-in-out;

}
.accordion .accordion-item:hover {
  background: var(--primary);
}

.accordion button:hover{
  cursor: pointer;
  color: white;
}
.accordion-item:hover::after ,.accordion-item:focus::after{
  border-radius: 16px;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--primary);
  border: 1px solid var(--primary);
}
.accordion button .accordion-title {
  width: 100%;
  display: flex;
  gap:1rem;
  flex-wrap: wrap;
}


.accordion button span{
  display: inline-flex;
  align-items: center;
}

.accordion button span.chip{
  line-height: 1.4rem;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;

}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 16px;

}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded="true"] {
  color: var(--primary);
}

.accordion button[aria-expanded="true"] .chip, .accordion button:hover .chip{
  color: var(--primary);
  background: #fff;
}

.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  padding-bottom: 1rem;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  padding-left: 1em;
  padding-right: 1em;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
}
/* Accordion Styles */

/* Normal Display */
.accordion .accordion-item {
  background: #fff;

}

.accordion button {
  color: var(--black);
  border-radius: 1rem;
}


/* For Active (expanded) state for the whole accordion item */
.accordion .accordion-item button[aria-expanded="true"] {
  color: white;
}

.accordion .accordion-item button[aria-expanded="true"] + .accordion-content,
.accordion .accordion-item button[aria-expanded="true"] {
  background: var(--primary);
}
.accordion-item button[aria-expanded="true"]{

  border-radius: 1rem 1rem 0 0;
}
.accordion-content{
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

}
/* Accordion content text color */
.accordion .accordion-content p {
  color: #fff; /* Making it white as the background for active state is primary */
}

.bg-img {
  background-image: url(images/background.svg);
}

.carousel-container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s;
}

.card-car {
  min-width: 200px; /* Adjust based on your design */
  margin: 0 10px;
  transform: scale(0.8); /* Make side cards smaller */
  transition: transform 0.5s;
}

.card-car:nth-child(2),
.card-car:nth-last-child(2) {
  transform: scale(1); /* Center cards */
}

.icon-wrapper {
  position: relative;
}

.icon-wrapper:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #efefef;
  color: #3a4563;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  transition: opacity 0.5s ease-in-out;
}
.icon-wrapper:hover::after {
  opacity: 1;
}

/* On smaller screens (e.g., iPad), hide the links and show the hamburger button */
@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  nav > div {
    display: none;
    flex-direction: column;
  }

  .card-container{
    display: flex;
  }
  .carousel-container {
    overflow-y: scroll;
  }
  #menuToggle {
    display: block;
  }
  .img-wrapper {
    display: none;
  }
  .chip{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100% !important;

  }
  .custom-container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.article-big-cover {
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
  box-sizing: border-box;
  padding-top: calc(9 / 16 * 100%);
  background-position: center;
  background-size: cover;
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}

.blog-container p, .blog-container img, .blog-container h2, .blog-container h3 , .blog-container h4, .blog-container h5, .blog-container h6 {
  margin-bottom: 1rem;
}

.blog-container h2{
  font-size: 1.4rem;
}

.blockquote {
  margin-bottom: 1rem;
  padding-left: 0.75rem;
  border-left: 4px solid var(--primary);
  font-size: 1;
  background-color: rgba(60, 75, 190, 0.05);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.blockquote p{
  margin-bottom: 0;
}

.blog-container a{
  color: var(--primary);
  text-decoration: underline;
}
